#img{
    width: 400px;
    height: 400px;
}
#card {
    max-width: 400px;
}

#card p {
    word-wrap: break-word; 
}
body{
    background-color: rgb(0, 0, 0); 
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(19px);
}
  
#loader-circle {
    transform: translate(-50%, -50%);
    width: 283px;
    height: 281px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top: 5px solid #29292a;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
#navbar{
    position: absolute;
    z-index: 10;
    background-color: #000000a7;
}
#img, #img1{
    width: 400px;
    height: 300px;
}

  